@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

.date-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.date-input::-webkit-inner-spin-button,
.date-input::-webkit-calendar-picker-indicator {
  display: none;
}

.date-input::-webkit-input-placeholder {
  visibility: hidden;
}